<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>變更密碼</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% include "base/style.html" %}
    {% include "base/script.html" %}
<style>
    html,
    body {
        height: 100%;
        width: 100%;
    }

    main {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 100%;
    }

    .login-form {
        width: 350px;
        height: auto;
        padding: 25px 25px;
    }

    button {
        margin-top: 25px;
    }
</style>

</head>
<body>
<main>
{% for field in form %}
<div class="error-list">
    {{ field.errors }}
</div>
{% endfor %}<div class="login-form z-depth-2 grey lighten-4">
    <div class="row">
        <form class="col s12" method="POST">
            {% csrf_token %}
            <div class="col s12 input-field">
                {{ form.password }}
                {{ form.password.label_tag }}
            </div>
            <div class="col s12 input-field">
                <input id="passowrd-check" type="password" name="validate-password" required>
                <label for="passowrd-check">再次輸入密碼:</label>
            </div>
            <button type="submit" class="col s12 btn">確定更改</button>
        </form>
    </div>
</div>
<script>
    const form = document.querySelector('form');
    form.addEventListener('submit', evt => {
        evt.preventDefault();
        evt.stopPropagation();
        const password = document.getElementById('id_password');
        const validatePassword = document.getElementById('passowrd-check');
        if (password.value !== validatePassword.value) {
            M.toast({html: '密碼不一致', classes: 'red'});
            validatePassword.value = '';
        } else {
            console.log('The same');
            evt.target.submit();
        }
    });
</script>
</main>
</body>
</html>