{% extends 'base/layout.html' %}

{% block main %}

<div class="ui horizontal segments">
    <div class="ui padded segment">
        <h1 class="ui dividing header">Products</h1>
        <div class="ui horizontal divider"></div>
            {% for product in product_list %}
                {% if product.inventory < product.level %}
                    <p><a href="{% url 'inventory:product_detail' product.pk %}" style="color:red;">{{ product.name }}: {{ product.inventory }}</a></p>
                {% else %}
                    <p><a href="{% url 'inventory:product_detail' product.pk %}">{{ product.name }}: {{ product.inventory }}</a></p>
                {% endif %}
            {% endfor %}
    </div>
    <div class="ui padded segment">
        <h1 class="ui dividing header">Components</h1>
        <div class="ui horizontal divider"></div>
            {% for component in component_list %}
                <p>{{ component.name }}: {{ component.inventory }}</p>
            {% endfor %}
    </div>
    <div class="ui padded segment">
        <h1 class="ui dividing header">Materials</h1>
        <div class="ui horizontal divider"></div>
            {% for material in material_list %}
                <p>{{ material.name }}: {{ material.inventory }}</p>
            {% endfor %}
    </div>
</div>

{% endblock %}