{% extends 'base/layout.html' %}

{% block main %}
<h2>歷年月銷售狀況</h2>

<br>
<form action="{% url 'transaction:month' %}" method="POST" class="ui form">{% csrf_token %}
    <div class="fields">
        <div class="field">
            <button type="submit" name="month" class="ui circular button" value="1">1月</button>
        </div>
        <div class="field"> 
            <button type="submit" name="month" class="ui circular button" value="2">2月</button> 
        </div>
        <div class="field">
            <button type="submit" name="month" class="ui circular button" value="3">3月</button>
        </div>
        <div class="field">
            <button type="submit" name="month" class="ui circular button" value="4">4月</button> 
        </div>
        <div class="field">
            <button type="submit" name="month" class="ui circular button" value="5">5月</button> 
        </div>
        <div class="field">
            <button type="submit" name="month" class="ui circular button" value="6">6月</button> 
        </div>
        <div class="field">
            <button type="submit" name="month" class="ui circular button" value="7">7月</button> 
        </div>
        <div class="field">
            <button type="submit" name="month" class="ui circular button" value="8">8月</button> 
        </div>
        <div class="field">
            <button type="submit" name="month" class="ui circular button" value="9">9月</button> 
        </div>
        <div class="field">
            <button type="submit" name="month" class="ui circular button" value="10">10月</button> 
        </div>
        <div class="field">
            <button type="submit" name="month" class="ui circular button" value="11">11月</button> 
        </div>
        <div class="field">
            <button type="submit" name="month" class="ui circular button" value="12">12月</button> 
        </div>
    </div>
</form>
{% if req_month %}
<h3>{{ req_month }}月</h3>
<table class="ui sortable celled table">
    <thead>
        <tr>
            <th>產品名稱</th>
            <th class="sorted ascending">2016</th>
            <th class="sorted ascending">2017</th>
            <th class="sorted ascending">2018</th>
        </tr>
    </thead>
    <tbody>
    {% for key, values in product_dict.items %}
        <tr>
            <td>{{ key }}</td>
            {% for v in values %}
            <td>{{ v }}</td>
            {% endfor %}
        </tr>
    {% endfor %}
    </tbody>
</table>
{% endif %}
{% comment %} <table class="ui sortable celled table">
    <thead>
        <tr>
            <th>產品名稱</th>
            <th class="sorted ascending">銷售數量</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>抗UV直傘</td>
            <td>{{ uv_s_sold }}</td>
        </tr>
        <tr>
            <td>抗UV自動摺傘</td>
            <td>{{ uv_auto_sold }}</td>
        </tr>
        <tr>
            <td>抗UV手開摺傘</td>
            <td>{{ uv_manual_sold }}</td>
        </tr>
        <tr>
            <td>防風直傘</td>
            <td>{{ wind_s_sold }}</td>
        </tr>
        <tr>
            <td>防風自動摺傘</td>
            <td>{{ wind_auto_sold }}</td>
        </tr>
        <tr>
            <td>防風手開摺傘</td>
            <td>{{ wind_manual_sold }}</td>
        </tr>
        <tr>
            <td>輕量直傘</td>
            <td>{{ l_s_sold }}</td>
        </tr>
        <tr>
            <td>輕量自動摺傘</td>
            <td>{{ l_auto_sold }}</td>
        </tr>
        <tr>
            <td>輕量手開摺傘</td>
            <td>{{ l_manual_sold }}</td>
        </tr>
    </tbody>
</table> {% endcomment %}

{% comment %} <p>{{ uv_s_sold }}</p>
<p>{{ uv_auto_sold }}</p>
<p>{{ uv_manual_sold }}</p>
<p>{{ wind_s_sold }}</p>
<p>{{ wind_auto_sold }}</p>
<p>{{ wind_manual_sold }}</p>
<p>{{ l_s_sold }}</p>
<p>{{ l_auto_sold }}</p>
<p>{{ l_manual_sold }}</p> {% endcomment %}

{% load static %}
<script src="{% static 'js/dropdown.js' %}"></script>
<script src="{% static 'js/tablesort.js' %}"></script>

{% endblock %}